{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="landing-spacer-1"></div>
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-12 text-center">
            <h2 class="main-title text-large">
                MEET THE DESIGNER
            </h2>
            <div class="line ms-auto me-auto"></div>
        </div>
    </div>
    <div class="about-spacer"></div>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center offset-lg-2 g-0">
            <div class="col-12 col-md-4 d-none d-md-block">
                <h4 class="subtitle text-end">Hello! My name is <br> Nebula Oktorino</h4>
                <br>
                <p class="info-text text-end">
                    I'm a Graphic Designer and Illustrator
                    As a born and raised In Indonesia, In fact, I based my entire graphic design career around it! I
                    have worked for a variety of brand create logos, brochures, menus, product labels and countless
                    other deliverables. As someone who also completed design school, I can promise you I know what good
                    design looks like. As someone who has a graphic design background, I can also promise you that I
                    know how to market it.

                    the <a class="contact-form-link" href="#lets-chat"><strong>contact form</strong></a> below! I would love to learn about your brand's needs and find a way I can help.
                </p>
            </div>
            <div class="col-11 mobile-col d-block d-md-none">
                <h4 class="subtitle text-center">Hello! My name is Nebula Oktorino.</h4>
                <br>
                <p class="info-text text-center">
                    
                    I'm a Graphic Designer and Illustrator
                    As a born and raised In Indonesia, In fact, I based my entire graphic design career around it! I
                    have worked for a variety of brand create logos, brochures, menus, product labels and countless
                    other deliverables. As someone who also completed design school, I can promise you I know what good
                    design looks like. As someone who has a graphic design background, I can also promise you that I
                    know how to market it.

                    the <a class="contact-form-link" href="#lets-chat"><strong>contact form</strong></a> below! I would love to learn about your brand's needs and find a way I can help.
                </p>
            </div>
            <div
                class="col-12 col-md-6 col-lg-7 ms-md-2 d-flex justify-content-center justify-content-md-start order-first order-md-last">
                <img id="about-img" src="{{ MEDIA_URL }}about-img.png" alt="">
            </div>
        </div>
    </div>
    <div class="about-spacer"></div>
    <div class="row d-flex justify-content-md-end">
        <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
            <div class="social-container">
                <div class="row title-row">
                    <div class="col-12 d-flex justify-content-center">
                        <h5 class="mt-2 dark-grey">LET'S GET SOCIAL</h5>
                    </div>
                </div>
                <div class="row mt-2 mb-2 me-2 ms-2">
                    <div class="col-12 col-md-6">
                        <h5 class="grey"><a href="https://www.facebook.com/nebula.oktorino" target="_blank"><i
                                    class="fab fa-facebook social-icon"></i></a> Nebula Oktorino</h5>
                    </div>
                    <div class="col-12 col-md-6">
                        <h5 class="grey"><a href="https://www.instagram.com/nebs.illustration/" target="_blank"><i
                                    class="fab fa-instagram social-icon"></i></a> Nebs Illustration</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-spacer"></div>
    <div class="about-spacer d-none d-md-block"></div>
    <div class="row d-flex justify-content-center">

        <!-- Desktop version -->

        <div class="col-12 lets-chat-container d-none d-lg-block">
            <div class="row height d-flex justify-content-center">
                <div class="col-3 d-flex justify-content-end align-items-center right-border">
                    <h2 class="social-title grey me-2">CANGGU, <br> BALI</h2>
                </div>
                <div class="col-1 d-flex align-items-center right-border">
                    <p class="text-orientation grey">EST,2022</p>
                </div>
                <div class="col-3 mt-auto mb-auto me-3 ms-3">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center mt-auto mb-2">
                            <a id="lets-chat" class="chat-link" href="{% url 'contact' %}">
                                <h5>LET'S CHAT</h5>
                            </a>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <div class="line"></div>
                        </div>
                        <div class="col-12 text-center d-flex justify-content-center mt-2">
                            <h6 class="grey">WOULD LOVE TO HEAR FROM YOU!</h6>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center left-border">
                    <h5 class="grey ms-2">NEBSDESIGN@GMAIL.COM</h5>
                </div>
            </div>
        </div>

        <!-- Mobile version -->

        <div class="col-12 lets-chat-mobile-container d-block d-lg-none">
            <div class="row height d-flex justify-content-center">
                <div class="col-11">
                    <h2 class="social-title grey">CANGGU, <br> BALI</h2>
                </div>
                <div class="col-11">
                    <p class="text-orientation grey">EST,2022</p>
                </div>
                <div class="col-11">
                    <div class="row">
                        <div class="col-12">
                            <a class="chat-link chat-link-mobile" href="#">
                                <h5>LET'S CHAT</h5>
                            </a>
                            <h6 class="grey">WOULD LOVE TO HEAR FROM YOU!</h6>
                        </div>
                    </div>
                </div>
                <div class="col-11">
                    <h5 class="grey">NEBSDESIGN@GMAIL.COM</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="about-spacer"></div>
</div>

{% endblock %}