{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block content %}
<div class="container-fluid">

    <!-- Landing Page -->
    <section id="landing-page-section">
        <div id="landing-image"></div>
        <div class="landing-spacer-1"></div>
        <div class="row offset-md-1 d-flex align-items-center landing-row">
            <div class="col-12 col-md-5 landing-collumn">
                <h1 class="main-title text-large text-uppsercase">Nebula Oktorino</h1>
                <p class="info-text bread-text">
                    Turn yourself into an illustration.
                    Check my gallery for examples below.
                </p>
                <a id="about-link" class="about-link" href="{% url 'about' %}">Learn more about me</a>
            </div>
        </div>
    </section>
    <!-- /Landing Page -->

    <div class="spacer"></div>

    <!-- Gallery -->
    <section id="gallery-section" class="mb-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-md-5">
                <h3>Gallery</h3>

            </div>
            <div class="col-12 d-flex justify-content-center">
                <p class="text-small text-center mb-0">"A collection of my work"</p>
            </div>

        </div>
        <div class="container-fluid">
            <div class="row no-gutters gallery-row d-flex justify-content-center">
                <div id="gallery">
                    {% for item in items %}
                    {% if item.image %}
                    {% if user.is_superuser %}
                    <a href="{% url 'edit_image' item.id %}"><img src="{{ item.image.url }}" alt="{{ item.alt }}"></a>
                    {% else %}
                    <img src="{{ item.image.url }}" alt="{{ item.alt }}">
                    {% endif %}
                    {% else %}
                    {% if user.is_superuser %}
                    <a href="{% url 'edit_video' item.id %}"><video width="100%" height="auto" autoplay muted loop>
                            <source src="{{ item.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video></a>
                    {% else %}
                    <video width="100%" height="auto" autoplay muted loop>
                        <source src="{{ item.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center mt-2 mt-md-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if items.has_previous %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ items.previous_page_number }}">Previous</a></li>
                                {% endif %}

                                {% if items.paginator.num_pages == 1 %}

                                {% else %}
                                <li class="page-item active" aria-current="page">
                                    <p class="page-link">{{ items.number}} of {{ items.paginator.num_pages }}</p>
                                </li>
                                {% endif %}
                                {% if items.has_next %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ items.next_page_number }}">Next</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
<!-- /Gallery -->

<!-- Footer -->
<footer>
    <div class="footer-container container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-12 text-center">
                <h6 class="text-muted"><i class="far fa-copyright"></i> Created by Jacob Molsby Designed By Nebula
                    Oktorino
                </h6>
                <nav>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="icon footer-icon" href="https://www.facebook.com/nebula.oktorino"
                                target="_blank"><i class="fab fa-facebook footer-icon"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="icon footer-icon" href="https://www.instagram.com/nebs.illustration/"
                                target="_blank"><i class="fab fa-instagram footer-icon"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</footer>
<!-- /Footer -->

</div>
<div class="arrow-up">
    <span class="icon">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </span>
</div>
{% endblock %}


{% block postloadjs %}
<script>
    $(function () {
        var $win = $(window);
        $win.scroll(function () {
            if ($win.scrollTop() == 0)
                $('.arrow-up').fadeOut(1000);
            else {
                $('.arrow-up').css('display', 'block');
                $('.icon').click(function (e) {
                    window.scrollTo(0, 0)
                })
            }
        });
    });
</script>
{% endblock %}